.aboutMeSection {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

.imgMe {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgMe img {
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 12px 0 rgba(31, 31, 31, 0.509);
    border: 1px solid #1f1f1f;
}

.pageContent {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.pageContent h1 {
    line-height: 30px;
    font-size: 30px;
    font-weight: 500;
}
.pageContent p {
    line-height: 25px;
    font-size: 15px;
}