body {
    overflow: scroll;
}

h1, h2 , .text-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    font-weight: 500;
}

.text-container {
    font-size: 15px;
    font-weight: 400;
}

.additional-headers {
    margin: 50px auto;
}

.card-slider-wrapper {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    overflow: hidden;
    margin: 0 auto;
}

.card-slider {
    display: flex;
    width: 200%;
    overflow-x: auto;
}

.artist-card {
    flex: 0 0 calc(50% - 10px);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.artist-image-container {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    box-shadow: none;
    padding: 10px;
    border: 1px solid black;

    -webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
}

.artist-image-container img {
    width: 100%;
    
    box-shadow: none;
    border: 1px solid black;
}

.image-text {
    height: 80px;
    width: 100%;
    font-size: 20px;
}

.image-text h2,
.image-text p {
    backdrop-filter: none;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
}

.image-text p {
    font-size: 12px;
}

.brand-card {
    width: 70%;
    max-width: 600px;
    margin: 0px auto 100px auto;
    padding: 10px;
    border: 1px solid black;

    -webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.6);
}

.brand-card a{
    width: 100%;
    float: right;
    text-align: right;
    margin: 0 auto;
    color: black;
}

.brand-card img{
    width: 100%;
    border: 1px solid black;
}

/* Footer styles */
.footer-container {
    position: relative;
    opacity: 1;
}


/* FAQ Styles */
.testimonial-slider {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-item {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.testimonial-item.active {
    display: block;
    opacity: 1;
}


.quote {
    font-size: 2vw;
    height: 20vw;
    text-align: left;
    padding: 20px;
    font-weight: 400;
}

.slider-nav {
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.slider-nav button {
    width: 30%;
}

.previous-question,
.next-question {
    font-family: 'Kalnia', sans-serif;
    background-color: transparent;
    align-content: right;
    border: none;
    font-size: 1vw;
    margin-left: 10px;
    cursor: pointer;
}

.counter {
    width: 80%;
    margin: 0 10px;
    font-size: 1vw;
}



@media screen and (max-width: 700px) {

    /*FAQ Styles*/
    
    .quote {
        font-size: 15px;
        height: 30vw;
    }
    
    .previous-question,
    .next-question {
        font-size: 4vw;
    }

    .counter {
        font-size: 4vw;
    }
}


@media screen and (min-width: 701px) {
    
    /*FAQ Styles*/
    
    .quote {
        font-size: 20px;
        height: 100px;
    }
    
    .previous-question,
    .next-question {
        font-size: 20px;
    }

    .counter {
        font-size: 20px;
    }
}
