.pageContent, h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    
    margin-top: 100px;
    margin-bottom: 100px;
}

.pageContent {
    margin-bottom: 800px;
}

.description {
    margin: 0 auto;
    width: 50%;
}

h1{
    font-size: 25px;
}

a,p {
    font-size: 20px;
    color: #1f1f1f;
}

footer {
    text-align: center;
    border-top: 1px solid #1f1f1f;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80px;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0 10px 10px 10px;
    font-size: 15px;
}