.grid-container {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.grid-item {
    width: 100%;
}

.grid-item img {
    width: 100%;
    height: auto;
}
