/* Image Grid Styles */
.image-grid {
    width: 100%;
    max-width: 600px;
}

/* Image Item Styles */
.image-item {
    margin: 20px 0;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    pointer-events: none;
}

/* Image Info Styles */
.image-info {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}

.image-info button,
.image-info a {
    color: black;
    text-decoration: underline;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

/* Reach Out Container Styles */
.reach-out-interact-container {
    text-align: center;
    display: none;
}

.reach-out-interact-container a {
    color: black;
}

/* Instagram Link Styles */
.reach-out-interact-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}