.row {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 100px;
}

.grid-container {
    width: 95%;
    margin: 0 auto;
}

.grid-container  img {
    width: 100%;
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid black;
}

.modelId {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
.modelId h1, .modelId p {
    padding: 20px;
    display: inline;
    font-size: 4.3vw;
}

@media (min-width: 1000px) {
    .modelId h1, .modelId p {
        font-size: 30px;
    }
}

.modelId h1 {
    font-weight: 400;
}

.modelId p {
    font-weight: 600;
}

/* Footer styles */
.footer-container {
    position: relative;
    opacity: 1;
}