body {
    overflow: scroll;
}

.row {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.grid-container {
    width: 95%;
    margin: 0 auto;

    transform: translateY(120%);
}

@keyframes slideFromBottom {
    from {
        transform: translateY(120%); /* Start from below */
    }
    to {
        transform: translateY(0); /* Move to the original position */
    }
}

.animated-slide {
    animation: slideFromBottom 3s ease forwards; /* Adjust duration as needed */
}

@keyframes slideToBottom {
    from {
        transform: translateY(0); /* Start from the original position */
    }
    to {
        transform: translateY(120%); /* Move back below */
    }
}

/* Apply the reverse animation */
.animated-slide-reverse {
    animation: slideToBottom 4s ease forwards; /* Adjust duration as needed */
}

.grid-container  img {
    width: 100%;
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid black;
}

.modelId {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;

    opacity: 0;
}
.modelId h1, .modelId p {
    padding: 20px;
    display: inline;
    font-size: 4.3vw;
}

@media (min-width: 1000px) {
    .modelId h1, .modelId p {
        font-size: 25px;
    }
}

.modelId h1 {
    font-weight: 400;
}

.modelId p {
    font-weight: 600;
}

/* Define the animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation */
.animated-fade-in {
    animation: fadeIn 3s ease forwards; /* Adjust duration as needed */
}

/* Define the reverse animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply the reverse animation */
.animated-fade-out {
    animation: fadeOut 1.5s ease forwards; /* Adjust duration as needed */
}



/* Footer styles */
.footer-container {
    position: relative;
    opacity: 1;
}
