@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700;900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* Font weights values */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Font sizing values */
    --size-unit: 1em;
    --size-xxs: calc(0.25 * var(--size-unit));
    --size-xs: calc(0.5 * var(--size-unit));
    --size-sm: calc(0.75 * var(--size-unit));
    --size-md: calc(1.25 * var(--size-unit));
    --size-lg: calc(2 * var(--size-unit));
    --size-xl: calc(3.25 * var(--size-unit));
    --size-xxl: calc(5.25 * var(--size-unit));

    /* Spacing values */
    --space-unit: 1rem;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));

    /* Color values */
    --background-color: #f5f5f5;
    --text-color: #202020;
}

/* Element Styling */
body {
    font-family: "Roboto Serif", Georgia, "Times New Roman", serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    font-size: var(--size-unit);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Class and ID Styling */
#header-placeholder {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: var(--background-color);
    top: 0;
}

header {
    width: 90%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-links {
    height: 30px;
}

#header-links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#side-menu-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

#side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(98.34px + 5%);
    height: 100%;
    background-color: var(--background-color);
    overflow: auto;
    transition: right 0.3s ease;
    border-left: 1px solid var(--text-color);
}

#side-menu ul li {
    list-style: none;
    margin: var(--space-xs);
}

#side-menu ul li a {
    font-size: var(--size-md);
    font-weight: var(--font-weight-bold);
}

#side-menu.open {
    right: 0;
}

#filter-tabs-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

#filter-tabs-container::-webkit-scrollbar {
    display: none;
}

/* Class Styling */
.filter-tab-item {
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 10px;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xs) var(--space-sm) var(--space-xs) 0;
    cursor: pointer;
    border: 1px solid var(--text-color);
}

.filter-tab-item p {
    font-weight: var(--font-weight-normal);
}

.filter-tab-item.active {
    color: var(--background-color);
    background-color: var(--text-color);
}

.portraits,
.artists,
.brands {
    text-align: right;
    margin: var(--space-sm) 0;
}

/* Animation Styling */
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

footer {
    width: 100%;
    text-align: center;
    margin: var(--space-lg) 0;
    pointer-events: none;
}

footer p {
    font-size: var(--size-sm);
}

/* Media Queries */
@media (min-width: 1500px) {
    #side-menu {
        width: calc(((100% - 1500px) / 2) + 98.34px);
    }
}