.slider {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    
    height: 100vh;
    width: auto;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loaded {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(245, 245, 245, 0.674);
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.prev img{
    width: 15px;
    transform: scaleX(-1);
}

.next {
    right: 10px;
}

.next img {
    width: 15px;
}
